@keyframes ldio-jveuo7kzb9 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-jveuo7kzb9 div { box-sizing: border-box!important }
.ldio-jveuo7kzb9 > div {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #06d2a6 transparent #06d2a6 transparent;
  animation: ldio-jveuo7kzb9 1.639344262295082s linear infinite;
}

.ldio-jveuo7kzb9 > div:nth-child(2), .ldio-jveuo7kzb9 > div:nth-child(4) {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  animation: ldio-jveuo7kzb9 1.639344262295082s linear infinite reverse;
}
.ldio-jveuo7kzb9 > div:nth-child(2) {
  border-color: transparent #ffffff transparent #ffffff
}
.ldio-jveuo7kzb9 > div:nth-child(3) { border-color: transparent }
.ldio-jveuo7kzb9 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-jveuo7kzb9 > div:nth-child(3) div:before, .ldio-jveuo7kzb9 > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 39px;
  background: #06d2a6;
  border-radius: 50%;
  box-shadow: 0 86px 0 0 #06d2a6;
}
.ldio-jveuo7kzb9 > div:nth-child(3) div:after {
  left: -4px;
  top: 39px;
  box-shadow: 86px 0 0 0 #06d2a6;
}

.ldio-jveuo7kzb9 > div:nth-child(4) { border-color: transparent; }
.ldio-jveuo7kzb9 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-jveuo7kzb9 > div:nth-child(4) div:before, .ldio-jveuo7kzb9 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 34px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 76px 0 0 #ffffff;
}
.ldio-jveuo7kzb9 > div:nth-child(4) div:after {
  left: -4px;
  top: 34px;
  box-shadow: 76px 0 0 0 #ffffff;
}
.loadingio-spinner-double-ring-mvq9csf8zq {
  width: 71px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
  background: rgba(178, 169, 169, 0);
}
.ldio-jveuo7kzb9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jveuo7kzb9 div { box-sizing: content-box; }

.wrapper-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

@media (min-width: 450px) {
    .wrapper-spinner {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}